html {
    font-size: 62.5%;
}
.top_row{
    h2{
        color: #fff;
    font-size: 3rem;
    margin-bottom: -1.7rem;
    margin-left: 2.5rem;
    margin-top: 5rem;
    }
}
::-webkit-scrollbar {
    display: none;
  }
.main_row{
    display: flex;
    overflow-x: auto;
    padding: 2.5rem;
}